%section.admin
  %h1 create thumbnail


  = form_for @artwork do |f|
    - %w[x y w h].each do |attribute|
      = f.hidden_field 'crop_' + attribute

    .actions
      = f.submit 'Crop'

  %br
  
  #cropbox= image_tag @artwork.img_url_url(:large)
  / #crop-preview{ style: 'width:180px; height:180px; overflow:hidden' }
  /   #preview= image_tag @artwork.img_url_url(:large)