.contact 
	%img#contact-logo{ src: '/assets/contact/logo.png'}
	%p#contact-text Buyer Inquiries, Commisions and Event Information.
	%a#contact-email{ href: 'mailto:jerkface@jerkfacenyc.com'} jerkface@jerkfacenyc.com
	.social
		%a.instagram{ href: 'http://instagram.com/incarceratedjerkfaces'} Instagram
		%a.facebook{ href: 'http://facebook.com/JerkFaceNYC' } Facebook