<ul id="images">
  <li class="grid_1">
    <a class="fancy" rel="group1" href="/assets/contact/1.jpg"><img src="/assets/contact/3-t.jpg" /></a>
  </li>
  <li class="grid_1">
    <img id="contact-logo" src="/assets/contact/logo.png" />
  </li>
  <li class="grid_3">
    <p id="contact-text">Buyer Inquiries, Commisions and Event Information.</p>
  </li>

  <li class="grid_1">
    <a class="fancy" rel="group1" href="/assets/contact/2.jpg"><img src="/assets/contact/2-t.jpg" /></a>
  </li>
  <li class="grid_4">
    <a href="mailto:jerkface@jerkface.com" id="contact-email">jerkface@jerkface.com</a>
  </li>

  <li class="grid_1">
    <a class="fancy" rel="group1" href="/assets/contact/3.jpg"><img src="/assets/contact/1-t.jpg" /></a>
  </li>
  <li class="grid_3"></li>
  <li class="grid_1">
    <a class="ir" id="instagram" href="http://instagram.com/incarceratedjerkfaces">instragram</a>
    <a class="ir" id="facebook" href="http://facebook.com/JerkFaceNYC" target="_blank">facebook</a>
  </li>
</ul>