<% @blogs.each do |blog| %>
<article class="container_5 clearfix post">
	<header class="grid_5">
	    <h1><%= blog.title %></h1>
	    <p>Submited by <a>Jerk</a></p>
	    <time><%= blog.created_at.strftime("%d %b. %Y") %></time>
    </header>
    <p class="grid_5"><%= blog.post %></p>
    <footer class="grid_5">
	    <ul>
	    	<li>Post to Facebook</li>
	    	<li>Post to Twitter</li>
	    </ul>
	</footer>
</article>
<% end %>