$blue: #1eb1d7; 
$pink: #ed1d7a;
$green: #b9d548;
$yellow: #fdf235;

$admin: $blue;

nav#admin{
  font-size: 1em;
  display: block;
  width: 200px;
  position: fixed; 
  top: 3em; 
  left: -180px;

  box-shadow: 0  0 40px #000;

  background: url('/assets/arrow.png') #ddd no-repeat center right;
  border: 3px darken($admin, 10) solid; margin-top:-3px;
  border-left: none;
  border-bottom-right-radius: 3em;
  border-top-right-radius: 1em;

  ul{
    list-style: none;
    margin-left: 1em;
    li{
      color: black;
      a{
        color: $admin;
        text-decoration: none;
        &:hover{
          color: darken($admin, 10);
        }
      }
      li{
        text-shadow: none;
      }
    }
  }
}


#notice{
  color: $pink;
}

.field_with_errors{
  padding: 0.75em;
  display: inline;
  margin: 0; padding: 0;
  label{
    color: $admin;
  }
}

#error_explanation {
  border: .1em solid $admin;
  border-radius: .25em;
  padding: 0.75px;
  padding-bottom: 0;
  margin-bottom: 1.3em;
  background-color: black;
  color: white;
  h2 {
    text-align: left;
    font-weight: bold;
    color: $admin;
  }
  ul li {
    list-style: square;
  }
}


/*-FORMS-*/
form{
  div{
    &.field, &.actions {
      display: inline-block;
      margin-bottom: 0.5em;
    }
  }
  label{ 
    text-align: right;
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0; padding:0;
    color: $admin;
  }
  input, select{
    background-color: #eee;
    border: none;
    font-size: 1.125em;
    vertical-align: middle;
  }
}

#artwork_img_url{
  font-size: .9em;
  padding:0.25em;
}


            





/*-Tables-*/

.admintable{
  font-size: .9em;
  width: 100%;
  background-color: #ddd;
  border: 4px darken($admin, 10) solid;
  margin-bottom: 1.5em;
  thead{
    border-bottom: 2px darken($admin, 10) solid;
  }
  th, td{
    padding: .125em .25em;
  }
  th{
    background-color: #ccc;
    color: #000;;
    text-align: left;
    text-shadow: -.1em .1em .1em white;
  }
  tr{
    &:hover{
      background-color: #eee;
    }
  }
  td{
    color: #000;
    vertical-align: middle;
    border-bottom: 1px darken($admin, 35) dashed;
    a{
      text-decoration: none;
      margin: 0 .25em;
      color: $admin;
      &:hover{
        color: darken($admin, 20);
      }
    }
    img{
      box-shadow: 0 0 10px rgba(0,0,0,.5);
      border: 2px #ddd solid;
    }
    &.actions{
      text-align: right;
    }
  }
}

a.btn{
  font-size: .8em;
  padding: .25em 0;
  border-radius: .25em;
  font-weight: bold;
  background-color: #ccc;
  color: darken($admin, 10);
  text-align: center;
  text-decoration: none;
  &:hover{
    background-color: #ddd;
    color: $admin;
  }
}





#adminpage{
  h2{
    margin-left: 0.75em;
  }
  #logout{
    text-align: right;
    margin-left: 0;
    a{
      color: $yellow;
      &:hover{
        color: lighten($yellow, 20);
      }
    }
  }
}


ul#categoryselectlist{
  text-transform: lowercase;
  margin: 0 0 1.5em 0;
  padding:0;
  list-style: none;
  li{
    display: inline-block;
    margin-left: .5em;
  }
  .selected{
    font-weight: bold;
  }
}

#crop-preview{
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid rgba(0,0,0,.5);
}

