$blue: #1eb1d7; 
$pink: #ed1d7a;
$green: #b9d548;
$yellow: #fdf235;

.post{
  color: white;
  margin-bottom: 1.4em;
  padding-bottom: 1.4em;
  border-bottom: 0.2em dashed darken($pink, 10);
  img{
    margin-bottom: 1.5em;
  }
  a{
    color: $pink;
    text-decoration: none;
    transition: color .5s ease-out;
    &:hover{ 
      color: $blue;
    }
  }
  hr{
    margin:0 auto 1.3em;
    width: 99%;
    height: 0;
    border: 0;
    border: 0.2em dashed $green;
  }
  header{
    color: $green;
    time{
      color: $green;
    }
  }
  footer{
    color: $yellow;
    ul{
      clear: both;
      margin:0; padding: 0;
      list-style: none;
      text-align: right;
    }
  }
}

.fb-like{
  height: 1.5em;
  float: right; 
  text-align: right;
}