#contact-logo{ position: relative; top:50px; left: 30px;}
#contact-text{ color: #ddd; font-size: 12pt; margin: 0; padding: 160px 0 0 0;}

#contact-email{
  display: block;
  margin: 0; padding: 0; 
  color: white; 
  font-size: 22pt; 
  text-align: center;
  text-decoration: none;
  &:active { color: #ccc;}
  &:visited { color: #ccc;}
  &:hover { color: #f24b95;}
}

a.instagram, a.facebook{ 
  position: absolute; top: 136px; 
  height: 45px; width: 45px;
}
a.facebook{  background: url('/assets/contact/facebook.png'); left: 136px;}
a.instagram{ background: url('/assets/contact/instagram.png'); left: 80px;}