$blue: #1eb1d7; 
$pink: #ed1d7a;
$green: #b9d548;
$yellow: #fdf235;


#images{
  margin: 0; padding: 0; 
  display: inline; 
  list-style: none;
  li{
    height: 180px;
    margin-bottom: 10px;
  }
}

.grid_1{ vertical-align: middle; }

.jerkbox{
  box-shadow: inset 0 0 0 #000;
  width: 180px; height: 180px;
  display: block;
  position: relative;
  transition: box-shadow 0.3s ease-out;
  &:hover{
    box-shadow: inset 0 0 45px #000;
  }
  img{
    position: relative; z-index: -1;
  }
}

#images li:nth-child(4n+1) a:before{ color: $blue;   }
#images li:nth-child(4n+2) a:before{ color: $green;  }
#images li:nth-child(4n+3) a:before{ color: $pink;   }
#images li:nth-child(4n+4) a:before{ color: $yellow; }

#lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.9);
  transition: background 1s ease-out;
  #content{
    text-align: center;
    h1{
      font-size: 1.5em;
    }
    p{
      font-size: .75em;
      line-height: .1em;
      color: $pink;
      background: white;
    }
    img {
      max-height: 80%;
    }
  }
} 



.sold{
  color: red;
}





























