body { color: #fc9;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    label{
      display: block;
    }
  }
}

#notice { color: green; }

.field_with_errors label{
  color: red;
}

#error_explanation {
  width: 450px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #010101;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin: -7px;
    margin-bottom: 0px;
    color: red;
  }
}

table{
  width: 100%;
  background-color: #232;
  th{
    padding: 10px;
    background-color: #434;
    text-align: left;
  }
  td{
    padding: 10px;
    vertical-align: middle;
    img{
      box-shadow: 0 0 10px black;
    }
  }
}
