!!!5
%html
  %head
    %link{ href: '/assets/grid.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
    %link{ href: '/assets/style.css', media: 'all', rel: 'stylesheet', type: 'text/css'}
  %body.container_5
    %h1 Blog Images

    = render 'form'
    %br
    %br
    %ul#images
      - @blog_images.each do |blog_image|
        %li{ :class => "grid_1"}
          %a{ class: 'fancy', rel: 'group1', href: blog_image.image }
            =image_tag blog_image.image_url(:thumb).to_s